<launch>

  <arg name="target_moveit_config" default="airbot_play_config"/>
  <arg name="use_rviz" default="false"/>
  <arg name="use_moveit" default="true"/>
  <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl"/>
  <!-- If needed, broadcast static tf for robot root -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world base_link"/>
  <!-- 目标config文件指定 -->
  <arg name="dir_name" value="$(dirname)"/> <!-- 指向当年目录 -->
  <arg name="to_be_replace" default="$(eval arg('dir_name').rsplit('/',2)[-1])"/>
  <arg name="replaced" default=""/>
  <arg name="parent_path" value="$(eval arg('dir_name').replace(arg('to_be_replace'),arg('replaced')))"/>
  <arg name="configs_dir" value="$(arg parent_path)moveit_configs"/>
  <arg name="target_config_dir" value="$(arg configs_dir)/$(arg target_moveit_config)/launch"/>
  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(arg target_config_dir)/move_group.launch" if="$(arg use_moveit)">
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="load_robot_description" value="true"/>
  </include>
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(arg target_config_dir)/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(arg target_config_dir)/moveit.rviz"/>
  </include>
  <!-- 规划与执行的关键参数 -->
  <param name="move_group/trajectory_execution/allowed_execution_duration_scaling" value="3.0"/>
  <param name="move_group/trajectory_execution/allowed_goal_duration_margin" value="0.5"/>
  <param name="move_group/trajectory_execution/execution_duration_monitoring" value="false"/>
  <param name="move_group/trajectory_execution/allowed_start_tolerance" value="1.0"/>

</launch>